._2er4{position:absolute;right:0;top:0}._mot{position:relative;text-align:center}._2er3{width:100%}
.sp_b9kn35melrK{background-image:url(/rsrc.php/v3/yS/r/vvwcEtpo_c5.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_b9kn35melrK.sx_461169{width:12px;height:12px;background-position:0 -17px}.sp_b9kn35melrK.sx_0d7d53{background-position:0 0}

#bootloader_LmPlN{height:42px;}.bootloader_LmPlN{display:block!important;}